digitalocean_token   = "REPLACE_IN_SECRET_STORE"
cloudflare_api_token = "REPLACE_IN_SECRET_STORE"
cloudflare_account_id = "REPLACE_WITH_CLOUDFLARE_ACCOUNT_ID"
cloudflare_zone_id    = "REPLACE_WITH_DGTL_LK_ZONE_ID"

region       = "sgp1"
vpc_ip_range = "10.21.0.0/24"
environment  = "staging"
alert_email  = "REPLACE_WITH_DIGITALOCEAN_VERIFIED_ALERT_EMAIL"
deploy_user  = "dgtl-deploy"
droplet_name = "dgtl-cms-staging"
droplet_size = "s-4vcpu-8gb"
ssh_key_id   = "REPLACE_WITH_DIGITALOCEAN_SSH_KEY_ID"

database_name = "dgtl-cms-staging-db"
database_size = "db-s-1vcpu-1gb"
cms_hostname  = "cms-staging.dgtl.lk"
r2_bucket_name = "dgtl-cms-staging-media"

allowed_ssh_cidrs = ["REPLACE_WITH_YOUR_OPERATOR_IP/32"]
